table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #444;
}

/* Estilo para los encabezados de la tabla */
thead {
    background-color: #333;
}

/* Estilo para las filas de encabezado */
thead th {
    padding: 10px;
    text-align: left;
}

/* Estilo para el cuerpo de la tabla */
tbody {
    background-color: #444;
}

/* Estilo para las filas de la tabla */
tbody tr {
    border-bottom: 1px solid #666;
}

/* Estilo para las celdas de la tabla */
td {
    padding: 20px;
}
th{
    text-align: left;
    padding: 3px 20px;
}
a{
    color: gold !important;
}